* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Gill Sans, sans-serif;
}

.navbar {
  background: linear-gradient(90deg, white 0%, white 100%);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  width: 35px;
  display: flex;
  margin-right: 5px;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-left: 105px;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: rgb(71, 71, 71);
  display: flex;
  font-size: 15px;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  color: rgb(74, 207, 74);
}


@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-links:hover {
    color: rgb(74, 207, 74);
  }

  .navbar-name {
    position: absolute;
    transform: translate(60%, 10%);
    left: 0;
  }

  .navbar-logo {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(30%, 30%);
  }
}

.searchbox-container {
  background-color: rgb(46, 195, 103);
  display: flex;
  height: 330px;
  max-width: 1500px;
}

.searchbox-title {
  font-size: 35px;
  color: white;
}
.searchbox-top {
  margin-top: 45px;
  margin-left: 160px;
  position: absolute;
}
.searchbox-title__half {
  font-size: 35px;
  color: rgb(255, 217, 0);
}
.searchbox-text {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.searchbox-model {
  position: absolute;
  background-color: white;
  width: 1150px;
  height: 230px;
  margin-top: 145px;
  margin-left: 160px;
  border-radius: 10px;
  padding: 28px;
}
.search-button {
  background-color:  rgb(46, 195, 103);
  padding: 15px;
}
.searchbox-search {
  margin-top: 15px;
  padding: 8px 20px;
  border-radius: 5px;
  height: 50px;
  width: 1000px;
  outline-color:  rgb(46, 195, 103);
  background-color: rgb(240, 238, 238);
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff;
}
.searchbox-filter {
  color:rgb(134, 131, 131);
}

@media screen and (max-width: 960px) {
  .searchbox-container {
    height: 300px;
    position: relative;
    width: 100%
  }
  .searchbox-model {
    position: relative;
    width: 100%;
    left: -15%;
    height: 200px;
    z-index: 1;
  }
  .search-button {
    background-color:  rgb(46, 195, 103);
    padding: 5px;
  }
  .searchbox-search {
    position: relative;
    width: 80%;
    height: 30px;
    font-size: 14px;
  }
  .searchbox-top {
    left: -15%;
  }
  .searchbox-title {
    font-size: 30px;
  }
  .searchbox-title__half {
    font-size: 30px;
  }
  .searchbox-text {
    padding-right: 12px;
    font-size: 18px;
  }
}

.joblist { 
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(246, 245, 245);
  display: grid;
  grid-template-columns: repeat(3 , 30%);
  grid-column-gap: 7px;
  padding-left: 170px;
}
.job-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 360px;
  background-color: white;
  border-style: solid;
  border-width: 0.3px;
  border-color: rgb(214, 212, 212);
  height: 350px;
  padding: 20px;
  cursor: pointer;
  /* margin: 10px auto; */
}
.job-card:hover {
  box-shadow: 0 6px 20px rgba(125, 126, 128, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(96, 97, 98, 0.017));
  filter: drop-shadow(0 6px 20px rgba(77, 81, 88, 0.017));
  transform: translate(0, -2px);
}

.job-logo {
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 110px;
  border-radius: 5px;
  margin-left: 100px;
}

.job-company {
  margin-top: 15px;
  color: #474747;
}

.job-description {
  font-size: 20px;
  font-weight: bold;
  color: #474747;
  margin-top: 10px;
  margin-bottom: 40px;
}
.job-card-time {
  color: #adadad;
  font-style: italic;
}
.job-card-category {
  margin-left: 160px;
  float: right;
  padding: 7px;
  background-color: rgb(196, 246, 215);
  color: rgb(46, 195, 103);
  border-radius: 3px;
}
.job-footer {
  position: absolute;
  margin-bottom: 5px;
  margin-top: 225px;
}

.job-tags{
  position: absolute;
  margin-top: 270px;
  padding-top: 15px;
  padding-right: 140px;
  border-top: solid 0.3px rgb(224, 224, 224);
}

.job__tag {
  padding: 7px;
  background-color: rgb(246, 245, 245);
  margin-right: 7px;
  border-radius: 5px;
  color:#8b8b8b;
}
@media screen and (max-width: 960px) {
  .joblist { 
    z-index: 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 80px;
    padding-left: 50px;
  }
  .job-card {
   width: 400px;
   height: 270px;
   margin-bottom: 20px;
  }
  .job-logo {
    position: relative;
    height: auto; 
    width: auto; 
    max-width: 80px; 
    max-height: 90px;
    border-radius: 5px;
    margin-left: 10px;
  }
  .job-company {
    position: absolute;
    margin-left: 120px;
    color: #474747;
  }
  
  .job-description {
    position: absolute;
    margin-left: 120px;
    font-size: 17px;
    font-weight: bold;
    color: #474747;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .job-footer {
    position: absolute;
    margin-bottom: 5px;
    margin-top: 140px;
  }
  
  .job-tags{
    position: absolute;
    margin-top: 190px;
    padding-right: 180px;
  }

  .job-card-category {
    margin-left: 205px;
  }

}

